*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

body{
    font-family: 'Helvetica', sans-serif;
}

/*estilos para el menu*/

header{
    background-image: url();
    width: 100%;
    height: 730px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
  
}

header nav{
    height: 70px;
    background: #fa0202;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #92089c, #f2062d);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #d31085, #0ca8e1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: space-between;
}

.icono{
    display: none;
}

.enlaces{
    display: flex;
    height: 100%;
    width: 30%;
    justify-content: space-around;
    align-items: center;
}

.enlaces a{
    font-weight: bold;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    padding: 4px 0;
    transition: 0.7s ease-out;
    color: #c4097f;
    text-decoration: none;
}

.enlaces a:hover, .active{
    border-top: 4px solid rgb(219, 2, 208);
    border-bottom: 4px solid rgb(227, 18, 150);
    color: #02ff02;
}

nav .logo{
    height: 100%;
    background: #fff;
    margin-left: 80px;
}

nav .logo img{
    object-fit: cover;
    height: inherit;
}


header .textos{
    text-align: center;
    text-shadow: 0 0 10px #0ca8e1, 0 0 10px #ffffff, 0 0 10px #ffffff, 0 0 10px #ff00de;
    color: rgb(4, 4, 4);
    margin-top: 150px;
}

header .textos:hover{
    color: #0ca8e1;
}

header .textos h1{
    font-size: 95px;
    letter-spacing: 3px;
    font-weight: 600;
    margin-bottom: 10px;
}

.textos h1, .textos h2 {
    overflow: hidden;
    border-right: .15em solid rgb(227, 18, 150); 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em; 
    animation: 
      typing 4.5s steps(40, end) forwards, /* Add 'forwards' to keep the typed text on screen */
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100%; border-right: none; } /* Remove the cursor at the end */
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(219, 2, 208); }
  }


header .textos h2{
    font-size: 30px;
    font-weight: 600;
}

video{
    width: 80%;
}




@media screen and (max-width:750px) {
    
   .icono{
    display: flex;
    justify-content: center;
    height: 70px;
    align-items: center;
    color: #fff;
    background: transparent;
    padding: 20px;
    z-index: 100;
    cursor: pointer;
    margin-right: 40px;
   } 

   header .textos h1{
     font-size: 75px; 
   }

   .enlaces{
     position: fixed;
     height: 100vh;
     right: 0;
     width: 100%;
     flex-direction: column;
     transition: all 1s ease;
     background: #fa0202;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #92089c, #f2062d);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #d31085, #0ca8e1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   }

   .uno{
    clip-path: circle(0% at 100% 0%);
    -webkit-clip-path: circle(0% at 100% 0%)
   }

   .dos{
    clip-path: circle(150% at 100% 0%);
    -webkit-clip-path: circle(150% at 100 0%)
   }
}


@media screen and  (max-width:400px){
    nav .logo{
        margin-left: 20px;
    }
    .icono{
        margin-right: 20px;
    }

    header .textos h1 {
        font-size: 65px;
    }
}


/*sections*/


